.loader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px dotted green;
  animation: rotateLoader 800ms infinite linear;
}

@keyframes rotateLoader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}